{% extends 'base.html.twig' %}


{% block body %}
    <div class="container">
        <h1>!!!! SUCCESS !!!!</h1>
        <p>You add 10 points to your score!</p>
        <p><strong>{{ user.nickname }}</strong> => Your score is: <strong>{{ user.score }}</strong></p>

        <a class="btn btn-secondary" href="{{ path('user_game') }}">Back to menu</a>
    </div>

{% endblock %}